@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
	:root {
		--background: oklch(0.997 0.0042 197.0893);
		--foreground: oklch(0.2465 0.0333 175.5609);
		--card: oklch(1 0 0);
		--card-foreground: oklch(0.2465 0.0333 175.5609);
		--popover: oklch(1 0 0);
		--popover-foreground: oklch(0.2465 0.0333 175.5609);
		--primary: oklch(0.7074 0.1382 239.2096);
		--primary-foreground: oklch(1 0 0);
		--secondary: oklch(0.9864 0.0185 180.2936);
		--secondary-foreground: oklch(0.3501 0.0968 252.8486);
		--muted: oklch(0.9706 0.0034 174.4839);
		--muted-foreground: oklch(0.5809 0.0267 173.1755);
		--accent: oklch(0.9083 0.0631 221.8551);
		--accent-foreground: oklch(0.2465 0.0333 175.5609);
		--destructive: oklch(62.793% 0.25768 29.223);
		--destructive-foreground: oklch(1 0 0);
		--border: oklch(0.9513 0.0133 179.4632);
		--input: oklch(1 0 0);
		--ring: oklch(0.7074 0.1382 239.2096);
		--chart-1: oklch(0.7074 0.1382 239.2096);
		--chart-2: oklch(0.8574 0.0896 221.5223);
		--chart-3: oklch(0.4834 0.1339 255.5028);
		--chart-4: oklch(0.5628 0.1213 242.4173);
		--chart-5: oklch(0.2702 0.0656 258.6278);
		--sidebar: oklch(0.997 0.0042 197.0893);
		--sidebar-foreground: oklch(0.2465 0.0333 175.5609);
		--sidebar-primary: oklch(0.7074 0.1382 239.2096);
		--sidebar-primary-foreground: oklch(1 0 0);
		--sidebar-accent: oklch(0.9864 0.0185 180.2936);
		--sidebar-accent-foreground: oklch(0.7074 0.1382 239.2096);
		--sidebar-border: oklch(0.9513 0.0133 179.4632);
		--sidebar-ring: oklch(0.7074 0.1382 239.2096);
		--font-sans: Inter, sans-serif;
		--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
		--font-mono:
			ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
			"Courier New", monospace;
		--radius: 1.2rem;
		--shadow-x: 0;
		--shadow-y: 1px;
		--shadow-blur: 3px;
		--shadow-spread: 0px;
		--shadow-opacity: 0.1;
		--shadow-color: oklch(0 0 0);
		--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-sm:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow-md:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
		--shadow-lg:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
		--shadow-xl:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
		--tracking-normal: 0em;
		--spacing: 0.25rem;
	}

	.dark {
		--background: oklch(0 0 0);
		--foreground: oklch(1 0 0);
		--card: oklch(0.2315 0.0181 195.9718);
		--card-foreground: oklch(0.9719 0.0189 196.8467);
		--popover: oklch(0.2315 0.0181 195.9718);
		--popover-foreground: oklch(0.9719 0.0189 196.8467);
		--primary: oklch(0.6353 0.1505 241.9112);
		--primary-foreground: oklch(0 0 0);
		--secondary: oklch(0.2203 0.011 216.9822);
		--secondary-foreground: oklch(0.9719 0.0189 196.8467);
		--muted: oklch(0.2246 0.0089 196.5361);
		--muted-foreground: oklch(0.7435 0.0278 178.7589);
		--accent: oklch(0.5628 0.1213 242.4173);
		--accent-foreground: oklch(1 0 0);
		--destructive: oklch(62.793% 0.25768 29.223);
		--destructive-foreground: oklch(0.9851 0 0);
		--border: oklch(0.2421 0.009 208.7467);
		--input: oklch(0.2315 0.0181 195.9718);
		--ring: oklch(0.7074 0.1382 239.2096);
		--chart-1: oklch(0.7074 0.1382 239.2096);
		--chart-2: oklch(0.8574 0.0896 221.5223);
		--chart-3: oklch(0.4834 0.1339 255.5028);
		--chart-4: oklch(0.5628 0.1213 242.4173);
		--chart-5: oklch(0.2702 0.0656 258.6278);
		--sidebar: oklch(0.2252 0.0179 214.9943);
		--sidebar-foreground: oklch(0.9719 0.0189 196.8467);
		--sidebar-primary: oklch(0.7074 0.1382 239.2096);
		--sidebar-primary-foreground: oklch(1 0 0);
		--sidebar-accent: oklch(0.2203 0.011 216.9822);
		--sidebar-accent-foreground: oklch(0.9719 0.0189 196.8467);
		--sidebar-border: oklch(0.2421 0.009 208.7467);
		--sidebar-ring: oklch(0.7074 0.1382 239.2096);
		--font-sans: Inter, sans-serif;
		--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
		--font-mono:
			ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
			"Courier New", monospace;
		--radius: 1.2rem;
		--shadow-x: 0;
		--shadow-y: 1px;
		--shadow-blur: 3px;
		--shadow-spread: 0px;
		--shadow-opacity: 0.1;
		--shadow-color: oklch(0 0 0);
		--shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
		--shadow-sm:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
		--shadow-md:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
		--shadow-lg:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
		--shadow-xl:
			0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
		--shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}
@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}
}
